
<div class="container">

	<div class="row row-centered">
		<div class="col-md-4 col-md-offset-2">
			<form action=<%=users_path%>>
				<div class="form-group">
					 	<%= submit_tag "View Users", options = {class: "btn btn-default", style: "display: block; width: 100%; height: 10em"}%>
				</div>
			</form> 
		</div>
		<div class="col-md-4">
			<form action=<%=events_path%>>
				<div class="form-group">
			 		<%= submit_tag "View Events", options = {class: "btn btn-default", style: "display: block; width: 100%; height: 10em"}%>
				</div>
			</form> 
		</div>
	</div>
	
</div>








